<div style="display:inline;" id="biotwo" class="biotwo">

The student of Wisdom, a teacher of secrets, I love to build and to <a href="javascript:void(0)" onclick="m2('write')">write and to give</a>.
</div>
<!--  <a href="javascript:void(0)" onclick="m2(' ')">  </a>
                                                                         nurture and to know
                                                                         plant and to grow
                                                                         rest and to bless.
-->
<script>
function m2(identifier) {
  if (identifier=='write') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'see\')\">see and to hear</a>.'
    magic2(text)
  }
  else if (identifier=='see') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'know\')\">know and to wonder</a>.'
    magic2(text)
  }

  else if (identifier=='know') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'cultivate\')\">cultivate and to care</a>.'
    magic2(text)
  }
  else if (identifier=='cultivate') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'nurture\')\">nurture and to know</a>.'
    magic2(text)
  }
  else if (identifier=='nurture') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'plant\')\">plant and to grow</a>.'
    magic2(text)
  }
  else if (identifier=='plant') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'rest\')\">rest and to bless</a>.'
    magic2(text)
  }
  else if (identifier=='rest') {
    text = 'The student of Wisdom, a teacher of secrets, I love to build and to <a href=\"javascript:void(0)\" onclick=\"m2(\'rest\')\">build and to love</a>.'
    magic2(text)
  }
}
function magic2(wordagain) {
    var text = `<div style=" ">
          ${wordagain} <br>
          </div>`
    $("." + 'biotwo').html(text);
}
</script>
