---
layout: noheader
comments: true
---
<header>
<!--     <h1 class="project-name">{{ page.title | default: site.title }}</h1> -->
 <h1>  The Decision Maker </h1>
    {{"_A first step toward your calling._" | markdownify }}

    I am designing an application for Web, Android, and iPhone
    that helps people focus on making life decisions, their goals, and their calling in life.
<br> <br>
    I have never worked so hard on a goal before, or committed myself to
    anything near this scale..
<br><br>

<br><br>

App Preview:
<br>

<a href="https://imgur.com/UcsgkPK" alt="Preview Image 1 . . ">
<br>
<a href="https://imgur.com/7x19HCA" alt="Preview Image 2 . . ">
<br><br>

    ![preview image](/assets/dm.1.png]
    Preview

    <img src="../assets/dm.1.png" alt="Preview Image Loading . . ">
    <img src="../assets/dm.2.png" alt="Preview Image Loading . . ">


    <!--
        img is dm.1.png , 2, 3
        /assets/earth4.png

        -->
        <!--
    <br> <br>
    <h4> Discuss your progress and life aspirations with like minds at the <a href="http://decisionmakers.freeforums.net/">Offical Maker's Forum! </a> </h3>
    <br> -->
    Project Progress: 45% - 05.03.20
 <!--    {{"_it'll all be quite alright_" | markdownify }} -->
</header>
