---
layout: noheader
comments: true
---
<header>
<!--     <h1 class="project-name">{{ page.title | default: site.title }}</h1> -->

 <h1>  The Decision Maker </h1>
    {{"_A first step toward your calling._" | markdownify }}

    An application currently in active development for Web, Android, and iPhone.
    The Decision Maker helps users focus on life decisions, their goals,
    and their calling in life.
<br> <br>
    <!-- I have never worked so hard on a goal before, or committed myself to
    anything near this scale.. -->
<br><br><br>

App Preview:
    <img src="../img/dm.1.png" alt="Image not loading.. ">
    <img src="../img/dm.2.png" alt="Image not loading.. "><br>
<!--
    <img src="/img/dm.1.png" alt="5. . "><br>
    <img src="/img/dm.2.png" alt="6 . . "><br>
<br>
<blockquote class="imgur-embed-pub" lang="en" data-id="7x19HCA"><a href="//imgur.com/7x19HCA">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<br>
<blockquote class="imgur-embed-pub" lang="en" data-id="UcsgkPK"><a href="//imgur.com/UcsgkPK">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<!-- broken broken broken..
<img src="//i.imgur.com/UcsgkPK" width="500" height="600" alt="broken1"> </img>
<img src="//imgur.com/7x19HCA" alt="broken"> </img>
<a href="//imgur.com/7x19HCA">View post on imgur.com</a><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
<blockquote class="imgur-embed-pub" lang="en" data-id="7x19HCA"><a href="//imgur.com/7x19HCA">View post on imgur.com</a></blockquote>
img is dm.1.png , 2, 3
/assets/earth4.png

FORUM
        <!--
    <br> <br>
    <h4> Discuss your progress and life aspirations with like minds at the <a href="http://decisionmakers.freeforums.net/">Offical Maker's Forum! </a> </h3>
    <br> -->
    <br>
    Development Progress: 65% - 11.12.20
 <!--    {{"_it'll all be quite alright_" | markdownify }} -->
 <br><br><br>
 <h2> Resources </h2>

 <ul>
     <li>
         <h3> <a href="/decision/lifegoal.html"> Finding Life Goal </a> </h3>
     </li>
     <li>
         <h3> <a href="/decision/passion.html"> Finding Passion </a> </h3>
     </li>
     <li>
         <h3> <a href="/decision/decisions.html"> Finding What You Want </a> </h3>
     </li>
 </ul>
</header>
