---
layout: noheader
comments: true
---
<header>
<!--     <h1 class="project-name">{{ page.title | default: site.title }}</h1> -->
 <h1>  The Decision Maker </h1>
    {{"_A first step toward your calling._" | markdownify }}

    I am designing an application for Web, Android, and iPhone
    that helps people focus on making life decisions, their goals, and their calling in life.
<br> <br>
    I have never worked so hard on a goal before, or committed myself to
    anything near this scale..
<br><br>

<br><br>

App Preview:
<br>

<a href="//i.imgur.com/UcsgkPK"> </a>
<br>
<a href="//iimgur.com/7x19HCA"> </a>
<br><br>

    <img src="../assets/dm.1.png" alt="Preview Image Loading . . "> <br>
    <img src="../assets/dm.2.png" alt="Preview Image Loading . . ">
    <br>
<blockquote ><a href="//imgur.com/7x19HCA">test111</a></blockquote>
<a href="//imgur.com/7x19HCA">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

    <!--
        img is dm.1.png , 2, 3
        /assets/earth4.png

        -->
        <!--
    <br> <br>
    <h4> Discuss your progress and life aspirations with like minds at the <a href="http://decisionmakers.freeforums.net/">Offical Maker's Forum! </a> </h3>
    <br> -->
    Project Progress: 45% - 05.03.20
 <!--    {{"_it'll all be quite alright_" | markdownify }} -->
</header>
