---
layout: default
---

<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div style="display:inline;" id="start" class="start">
  I am James Tyler Bytes, a perspective <a href="javascript:void(0)" onclick="m('changing')">changing </a> artist and interactive wordsmith.
</div><br>
<script>
function m(identifier) {
  if (identifier=='changing') {
    text = 'I am James The Blessed\, an artist changing <a href=\"javascript:void(0)\" onclick=\"m(\'perspective\')\"> perspective </a> and a word cultivator.'
    magic(text)
  }
  else if (identifier=='perspective') {
    text = 'I am James T. Bytes\, a perspective <a href=\"javascript:void(0)\" onclick=\"m(\'changing\')\">changing </a> word artist. Thank you for stopping by!'
    magic(text)
  }
}
function magic(wordagain) {
    var text = `<div style=" ">
          ${wordagain} <br>
          </div>`
    $("." + 'start').html(text);
}
</script>

{{ content }}
